/*****************reset****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

body {
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}




/*****************style****************/
a {
    color: #99CCFF;
    text-decoration: none;
}

a:visited {
    color: #99CCFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page_content a {
    color: blue;
}

.page_content a:visited {
    color: blue;
}

h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
}

h4 {
    font-size: 1.3em;
    font-weight: normal;
}

h5 {
    font-size: 1.1em;
    font-weight: normal;
}

p {
    padding-bottom: 1em;
    line-height: 1.8em;
}

strong {
    font-weight: bold;
}

.fix_height:after {
    content: ".";
    display: block;
    clear: both;
    margin: 0px;
    padding: 0px;
    height: 0;
    visibility: hidden;
}

.clear_float {
    clear: both;
}




/*****************layout****************/

body {
    background: #1D1C1D;
    color: #fff;
    font-family: "Microsoft YaHei", "simsun", "​Verdana", "​Tahoma", "Helvetica", "​Sans-serif";
    font-size: 15px;
    text-align: left;
    line-height:20px;
}

/** Header **/
#header_wrap {
    background: url('./images/header_bg.gif') top left repeat-x;
    border-radius: 0 0 20px 20px;
}

#header a.description {
    color: #000;
    font-weight: bold;
    font-size: 1.8em;
    height: 170px;
    width: 1000px;
    margin: 0 auto;
    background: url('./images/header.png') bottom left no-repeat;
    display: block;
    padding-left: 50px;  /*let the desc align with background pic*/
    padding-top: 20px;
}

#header a.description:first-letter {
    font-weight: bolder;
    font-size: 2em;
    font-style: italic;
    letter-spacing: 5px;
    color: #fff;
}

#header_wrap h1 {
    display: none;
}

/** Navigation **/
#navigation {
    width: 850px;
    margin: 15px 0 15px 200px;;
}

#navigation li {
    float: left;
    margin-right: 20px;
}

#navigation li a {
    color: #eee;
    width: 120px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    background: gray;
}

#navigation li.item a {
    color: #eee;
    background: gray;
}

#navigation li.item a:hover {
    background: white;
    color: #2342fa;
    text-decoration: none;
}

#navigation li.message a {
    color: #fff;
    background: #71bd1f;
}

#navigation li.message a:hover {
    background: white;
    color: #2342fa;
    text-decoration: none;
}

/** Container **/
#container {
    margin: 0 auto;
    width: 1270px;
    color: #000;
}

#content {
    background: #EAEAEA;
    float: left;
    width: 900px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
}

#sidebar {
    float: left;
    width: 250px;
    color: #fff;
}

#hope10_extra {
    height: 222px;
    width: 100px;
    background: url('./images/hope10.gif') no-repeat;
    position: fixed;
    left: 15px;
    top: 360px;
    z-index: -1;
}



/*****************post****************/
.post .featured_block {
    float: left;
}

.post .excerpt.narrow {
    float: left;
    padding-left: 30px;
    width: 380px;
}

.post .excerpt.wide {
    float: left;
    padding-left: 30px;
    width: 650px;
}

.post a.post_featured {
    margin: 0px 20px 20px 10px;
    display: block;
}

.post a.post_featured img {
    width: 380px;
    border: 5px solid #EAEAEA;
}

.post a.post_featured img:hover {
    border: 5px solid #6666ff;
}

.post.category-other .excerpt {
    width: 500px;
}

.post .author a {
    color: #0044ff;
}

.post .author .by {
    font-size: 0.8em;
}

.post {
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 2px dotted black;
    clear: both;
    overflow: hidden;
}

.post h3 {
    font-size: 22px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.post h1 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #EA6819;
    width: 400px;
    display: inline-block;
}

.post h3 a {
    color: #EA6819;
}

.post .meta, #content .post .meta-page {
    float: right;
    width: 140px;
    height: 40px;
    background: #000;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}

.post .entry {
    padding-top: 20px;
}

.post .entry {
    line-height: 1.6em;
}

.post .entry p {
    text-indent: 2em;
}

.post .author-meta {
    text-align: right;
}

.post .meta_bottom {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
}

.post .post_tags {
    margin-bottom: 10px;
}

.post .post_tags a {
    color: #09b20d;
}

.post .post-categories {
    margin-top: 10px;
}

.post .post-categories a {
    color: gray;
    font-size: 22px;
}

.post .post-categories li {
    padding-left: 40px;
    background: url('../images/sun.gif') top left no-repeat;
    height: 30px;
    line-height: 30px;
}

.post  .par_page_navi {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
    padding-top: 1em;
}

.post  .par_page_navi a {
    padding: 3px 8px;
    margin: 2px;
    text-decoration: none;
    color: #888;
    border: 1px solid #ccf;
}

.post  .par_page_navi a:hover, #content .par_page_navi a.current {
    border: 1px solid #6C85BE;
    color: #6C85BE;
    font-weight: bolder;
}

.post .post_edit_link {
    font-size: 13px;
}

.post .comment_num {
    font-size: 15px;
}




/*****************comment****************/

#comments {
    margin: 15px 0 0;
    padding: 0;
    overflow: hidden;
}

#comments .title {
    font-size: 25px;
    margin: 0;
    padding: 15px 0;
}

#comments ul.commentlist {
    margin: 0;
    padding: 0;
}

#comments ul.children {
    margin: 0;
    padding: 10px 0 0;
}

#comments .vcard {
    color: #2C2C2C;
    float: left;
}

#comments .vcard .avatar {
    display: block;
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
}

#comments .comment-meta {
    padding: 0 0 20px 0;
}

#comments li.even, #comments li.odd {
    clear: both;
    list-style-type: none;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    margin: 10px 0 0;
    padding: 15px;
    overflow: hidden;
}

#comments ul.children li {
    border: 1px solid #ddd;
}

#comments li.even {
    background: #F3FAFF;
}

#comments li.odd {
    background: #ddd;
}

#comments blockquote {
    background: #CCCCCC;
    margin: 10px 0;
    padding: 10px;
}

#comments .alert {
    background: #FFFBD6;
    border: 1px solid #EBE067;
    margin: 5px 0;
    padding: 5px;
}

#comments p {
    margin: 0 0 10px;
    color: #2C2C2C;
    padding: 0;
}

#respond {
    overflow: hidden;
    padding-top: 20px;
}

#respond #commentform {
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#respond #commentform #author, #respond #commentform #email, #respond #commentform #url {
    width: 50%;
    margin: 0 0 5px 0;
    padding: 5px;
}

#respond #commentform #comment {
    width: 95%;
    margin: 10px 0 15px 0;
    padding: 5px;
}

#commentform p {
    margin-bottom: 5px;
}

#commentform label {
    display: block;
}

#commentform textarea, #commentform input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

#comments li {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#comments .commentmetadata {
    float: right;
}

#comments .commentmetadata a {
    display: block;
    height: 30px;
    line-height: 30px;
}

#comments a.comment-edit-link {
    float: right;
    width: 41px;
    height: 18px;
    background: url('./images/edit.png');
    text-indent: -1000em;
}

#comments a.comment-reply-link {
    width: 50px;
    height: 30px;
    background: url('./images/reply.png') no-repeat;
    text-indent: -1000em;
    display: block;
}

#comments .reply {

    margin-top: 35px;
}

#comments .comment-body > p {
    padding: 0px 0 0 75px;
    clear: both;
}




/*****************sidebar****************/

#sidebar li.widget {
    margin: 10px 0 20px 0;
    border-bottom: 1px dashed #fff;
    padding-bottom: 10px;
}

#sidebar .widget h2 {
    margin-bottom: 10px;
}

#searchform label {
    margin-bottom: 10px;
    display: block;
    font-size: 22px;
    font-weight: bold;
}

#sidebar .widget_links li {
    padding-left: 30px;
    background: url('./images/link-arrow.jpg') no-repeat;
}

#sidebar li.widget-simpletags {
    padding: 10px;
}

#sidebar .widget_meta li.normal {
    padding-left: 15px;
    background: url('./images/orange_dot.png') left center no-repeat;
}

#sidebar .sbscr_panel a.rss {
    text-indent: -1000em;
    display: block;
    background: url('./images/rss.gif');
    width: 40px;
    height: 37px;
    float: left;
}

#sidebar .sbscr_panel a.comment_rss {
    text-indent: -1000em;
    display: block;
    background: url('./images/comment_rss.gif') left bottom no-repeat;
    width: 30px;
    height: 37px;
    float: left;
    margin-left: 10px;
    margin-bottom: 1em;
}

#sidebar .sidebar_recent_comments .user_title {
    font-size: 17px;
    margin-left: 20px;
    color: #fff;
}

#sidebar .sidebar_recent_comments .comment {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dotted;
    border-bottom-color: white;
}

#sidebar .sidebar_recent_comments .post_title {
    font-size: 12px;
}

#sidebar .sidebar_recent_comments .txt {
    font-size: 13px;
    color: #ddd;
}

#sidebar .sidebar_recent_comments {
    margin-bottom: 30px;
}



/*****************page****************/

#content .not_found {
    padding-right: 0;
    margin-left: 55px;
}

#content .not_found img.words {
    width: 300px;
    float: left;
    diaplay: block;
    margin-top: 50px;
    margin-left: 20px;
}

#content .not_found img.cat {
    float: right;
    display: block
}



/*****************gallery_slider****************/

#content .slider_surround .stripNavL, .stripNavR, .stripNav {
    display: none;
}

#content .slider_surround .nav_thumb {
    border: 1px solid black;
    margin-right: 5px;
    width: 60px;
    height: 40px;
}

#content .slider_surround .movers_row {
    margin: -43px 0 0 62px;
}

#content .slider_surround .movers_row div {
    width: 20%;
    float: left;
}

#content .slider_surround .movers_row div a.cross_link {
    float: right;
}

#content .slider_surround .cross_link_0 {
    position: relative;
    top: 5px;
}

#content .slider_surround .photo_meta_data {
    background: url('./images/transpBlack.png');
    padding: 10px;
    height: 55px;
    margin-top: -75px;
    position: relative;
    z-index: 9999;
    color: white;
}

#content .slider_surround .photo_meta_data span p {
    font-size: 14px;
    line-height: 1.1em;
}

#content .slider_surround .photo_meta_data a {
    color: yellow
}

#content .slider_surround .cross_link {
    display: block;
    width: 62px;
    margin-top: -14px;
    position: relative;
    padding-top: 15px;
    z-index: 9999;
}

#content .slider_surround a {
    outline: none;
}

#content .slider_surround ul {
    list-style: square inside;
}

#content .slider_surround a, .slider_surround a:visited {
    color: #729dff;
    text-decoration: none;
}

#content .slider_surround a:hover, .slider_surround a:active {
    color: white;
}

#content .slider_surround blockquote {
    padding: 0 20px;
    margin-left: 20px;
    border-left: 20px solid #ccc;
    font-size: 14px;
    font-family: Georgia, serif;
    font-style: italic;
    margin-top: 10px;
}



/*****************plugins****************/
.syntaxhighlighter .code .container {
    padding: 1em !important;
    border: 1px solid #047CC2;
}



